@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");

body {
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Roboto", sans-serif;
}

.card {
  position: relative;
  width: 500px;
  height: 300px;
  display: flex;
  align-items: center;
  background: linear-gradient(45deg, #d41e31, #491f8f);
  border-radius: 20px;
}

img {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  height: 400px;
  transition: all 0.5s;
}

.card:hover img {
  height: 450px;
  left: 80%;
}

.content {
  position: relative;
  width: 40%;
  left: 20px;
  color: white;
  text-transform: capitalize;
  opacity: 0;
}

.card:hover .content {
  opacity: 1;
}

h2 {
  margin: 0;
  padding: 0;
}

p {
  margin-bottom: 20px;
}

a {
  position: relative;
  display: inline-block;
  color: #111;
  padding: 5px 10px;
  background-color: white;
  text-decoration: none;
  border-radius: 10px;
}
