body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

ul {
  padding: 0;
  margin: 0;
  display: flex;
  list-style: none;
}

ul li {
  width: 120px;
  height: 120px;
  margin: 0 20px;
  border: 2px solid #0a3d62;
  transition: all 0.5s;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

ul li i {
  font-size: 48px;
  color: #0a3d62;
  transition: all 0.5s;
}

ul li:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #0a3d62;
  z-index: -1;
  transition: all 0.5s;
  opacity: 0;
}

ul li:hover:before {
  opacity: 1;
  transform: scale(0.8);
}

ul li:hover i {
  color: white;
}

ul li:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: transparent;
  z-index: -1;
  transition: all 0.5s;
  opacity: 0;
  border: 2px dashed #0a3d62;
  box-sizing: border-box;
}

@keyframes rotating {
  0% {
    transform: scale(0.92) rotate(0deg);
  }
  100% {
    transform: scale(0.92) rotate(360deg);
  }
}

li:hover:after {
  opacity: 1;
  animation: rotating 10s linear infinite;
}
