body {
  margin: 0;
}

div {
  width: 150px;
  height: 150px;
  background-color: red;
  animation: moving 3s;
  animation-fill-mode: both;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-direction: alternate;
}

@keyframes moving {
  0% {
    transform: translateX(250px);
  }

  50% {
    transform: translateX(500px);
  }

  100% {
    transform: translate(500px, 250px);
  }
}
