body {
  margin: 0;
  padding: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #212121;
}

.line {
  width: 300px;
  border-bottom: 4px solid white;
  position: relative;
  animation: animate-line 2s linear infinite alternate;
}

.hexagon {
  position: absolute;
  left: 0;
  bottom: 14px;
  width: 50px;
  height: 30px;
  background-color: white;
  animation: animate-hexagon 2s linear infinite alternate;
}

.hexagon:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transform: rotate(60deg);
}

.hexagon:after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: white;
  transform: rotate(-60deg);
}

@keyframes animate-hexagon {
  0% {
    left: 0;
  }

  0% {
    left: calc(100% - 50px);
    transform: rotate(720deg);
  }

  100% {
    left: 0;
  }
}

@keyframes animate-line {
  0% {
    transform: rotate(30deg);
  }

  25% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(-30deg);
  }

  75% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(30deg);
  }
}
