@import url("https://fonts.googleapis.com/css2?family=Just+Another+Hand&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

body {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9b59b6;
  height: 100vh;
  font-family: "Just Another Hand", cursive;
  overflow: hidden;
}

ul {
  margin: 0;
  padding: 0;
  font-size: 10em;
  color: white;
  cursor: pointer;
  display: flex;
}

li {
  list-style: none;
  transition: all 0.5s;
}

ul:hover li {
  transform: rotate(180deg);
}

ul:hover li:last-child {
  transition-delay: 0.5s;
}

li span {
  transition: 0.5s;
  display: inline-block;
}

ul:hover li:last-child span:last-child {
  transform: rotate(180deg);
  transition-delay: 1s;
}

ul:hover li:last-child span:first-child {
  transform: rotate(90deg) translateY(10px);
  transition-delay: 1.5s;
  margin-left: 2px;
}
