body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

a {
  text-decoration: none;
  color: #E1332D;
  font-family: 'roboto';
  font-size: 40px;
  letter-spacing: -2px;
  text-transform: uppercase;
  font-weight: 300;
  border: 3px solid #E1332D;
  padding: 40px 80px;
  position: relative;
  transition: all .5s;
  overflow: hidden;
}

a:hover {
    font-weight: 900;
    letter-spacing: 10px;
    border: 7px solid #E1332D;
}
